<h1>Flights</h1>


<%= form_with url: flights_path, method: :get do |f| %>
  <%= f.label :departure_airport_id, 'Departure Airport' %>
  <%= f.collection_select :departure_airport_id, Flight.show_departure_airports, :id, :airport_code %>
  <%= f.label :arrival_airport_id, 'Arrival Airport' %>
  <%= f.collection_select :arrival_airport_id, Flight.show_arrival_airports, :id, :airport_code %>
  <%= f.label :passenger_count, 'Number of Passengers' %>
  <%= f.select :passenger_count, 1..4 %>
  <%= f.label :flight_date, 'Departure date:' %>
  <%= f.collection_select :departure_time, Flight.show_departure_dates, :id, :departure_date_formatted %>
  <%= f.submit "Search" %>
<% end %>

<h2>Available Flights</h2>

<%= @view %>
