<div class="index-container">
  <h2>Choose Your Flight</h2>


  <div class="flight-search-form">
    <%= form_with(model: @flight, url: flights_path, method: :get) do |f| %>
      <%= f.label :departure_airport_id, 'Departure Airport' %>
      <%= f.collection_select :departure_airport_id, Flight.show_departure_airports, :id, :airport_code_to_name,
      { include_blank: "Departing..." }, { required: true }  %>
      <%= f.label :arrival_airport_id, 'Arrival Airport' %>
      <%= f.collection_select :arrival_airport_id, Flight.show_arrival_airports, :id, :airport_code_to_name,
      { include_blank: "Arriving..." }, { required: true } %>
      <%= f.label :passenger_count, 'Number of Passengers' %>
      <%= f.select :passenger_count, 1..4 %>
      <%= f.label :flight_date, 'Departure date:' %>
      <%= f.collection_select :departure_time, Flight.show_departure_dates, :departure_time,
       :departure_date_human_readable_format %>
      <%= f.submit "Search" %>
    <% end %>
  </div>

  <% if @flights.blank? %>
  <div></div>
  <% else %>
   <div class="flight-picker-form">
     <% if @flights.blank? && params[:departure_airport_id] %>
          <div>No Flight Available, try to search again</div>
      <% else %>
      <h2 class="flight-picker-title">Flights Available for
        <% unless params[:departure_time].nil? %>
          <%=  params[:departure_time].to_datetime.strftime('%B %e, %Y') %>
        <% end %>
      </h2>
        <%= form_with(model: @flight, url: new_booking_path, method: :get) do |form| %>
          <%= form.hidden_field :passenger_count, value: params[:passenger_count] %>

          <% @flights.each do |flight| %>
            <%= form.radio_button :flight_id, flight.id %>
            <div class="flight-selection-location flight-picker-details">
              From:<br> <%= flight.departure_airport.airport_code %> (<%= flight.departure_airport.airport_code_to_name  %>)
              <br><br>To:<br> <%= flight.arrival_airport.airport_code %> (<%= flight.arrival_airport.airport_code_to_name  %>)
            </div>

            <div class="departing-time flight-picker-details"><strong>Departing At:</strong>
            <%= flight.time_of_departure %></div>

            <div class="flight-duration flight-picker-details"><strong>Duration: </strong>
            <%= flight.flight_duration_in_hours %></div>
          <% end%>

          <%= form.submit "Choose Flight" %>
        <% end %>
      <% end %>
   </div>
   <% end %>
</div>
