<h1>Flights</h1>


<%= form_with url: flights_path, method: :get do |f| %>
  <%= f.label :departure_airport_id, 'Departure Airport' %>
  <%= f.collection_select :departure_airport_id, Flight.show_departure_airports, :id, :airport_code %>
  <%= f.label :arrival_airport_id, 'Arrival Airport' %>
  <%= f.collection_select :arrival_airport_id, Flight.show_arrival_airports, :id, :airport_code %>
  <%= f.label :passenger_count, 'Number of Passengers' %>
  <%= f.select :passenger_count, 1..4 %>
  <%= f.label :flight_date, 'Departure date:' %>
  <%= f.collection_select :departure_time, Flight.show_departure_dates, :departure_date_year_first_format, :departure_date_human_readable_format %>
  <%= f.submit "Search" %>
<% end %>

<h2>Available Flights</h2>
 <% if @flights.blank? && params[:departure_airport_id] %>
      <div>No Flight Available, try to search again</div>
  <% else %>
    <%= form_with  url: new_booking_path, method: :get do |flight| %>
      <%= flight.collection_radio_buttons :flight_id, @flights.order(:departure_time), :id, :flight_details %>
      <%= flight.hidden_field :passenger_count, value: params[:passenger_count] %>
      <br>
      <%= flight.submit "Choose Flight" %>

      <% end %>
  <% end %>
