<h2>New booking</h2>
<% flight = @flight%>

  <%= form_with model: @booking do |form| %>
    <%= form.hidden_field :flight_id, value: flight.id %>
    <%= form.label :departure_time, "Depature Time:" %>
    <%= form.hidden_field :departure_time, value: flight.departure_time %>
    <%= form.text_field :departure_time, value: flight.departure_date_human_readable_format, disabled: true %>
    <%= form.label :departure_airport_id, "Departing Airport:" %>
    <%= form.hidden_field :departure_airport_id, value: flight.departure_airport_id %>
    <%= form.text_field :departure_airport_id, value: flight.departure_airport.airport_code, disabled: true %>
    <%= form.label :arrival_airport_id, "Arrival Airport:" %>
    <%= form.hidden_field :arrival_airport_id, value: flight.arrival_airport_id %>
    <%= form.text_field :arrival_airport_id, value: flight.arrival_airport.airport_code, disabled: true %>
    <%= form.label :passengers, "Number of Passengers" %>
    <%= form.number_field :passengers, value: @passengers, readonly:true %>
      <br><br>
      <ul>
        Passengers:
          <%= form.fields_for :passengers do |passengers_form| %>
          <li>
            <%= passengers_form.label :name, "Passenger Name:" %>
            <%= passengers_form.text_field :name %>

            <%= passengers_form.label :email, "Passenger Email:" %>
            <%= passengers_form.text_field :email %>
          </li>
        <% end %>
      </ul>
      <br><br>
    <%= form.submit "Submit" %>
  <% end %>
