<div class="booking-show-container">
  <h2>Your Flight</h2>
  <% booking = @booking %>
  <% flight = @booking.flight %>

  <%= render '/partials/flight_details', :flight => flight %>

  <div class="passenger-container">
      <ul class="passenger-container-list"> <strong>Passengers:</strong>
        <% passenger_count = 1 %>
        <% booking.passengers.each do |passenger| %>
        <div class="passengers">
          <div class="passenger-num"><strong>Passenger # <%= passenger_count  %> Information:</strong></div>
          <li><strong>Name:</strong>
            <%= passenger.name %>
          </li>
          <li><strong>Email:</strong>
            <%= passenger.email %>
          </li>
        </div>
        <% passenger_count += 1%>
        <% end %>
      </ul>
    </ul>
  </div>
  <%= link_to "Book Another Flight?", root_path, class: 'root-btn' %>
</div>
