<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <div class="site-title">
          <%= link_to 'Easy Flight Booker', root_path  %>
        </div>
        <div class="company-logo">
          <%= image_tag 'plane.svg' %>
        </div>
      </div>
      <div class="content-container">
        <div class="flash-message">
          <% flash.each do |name, message| %>
          <div class="<%= name %>"><%= message %></div>
          <% end %>
        </div>
        <%= yield %>
      </div>
      <div class="footer">
        <div class="git-link">
          <%= link_to "Smelly Industries", 'https://www.github.com/raspberryrat' %>
        </div>
      </div>
    </div>
  </body>
</html>
